<!DOCTYPE.ejs>
<html ng-app="myApp" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Partage de ressources">
		<meta name="author" content="Julien Marquet">
		<title>Partage de ressources en ligne</title>
		<script src="javascripts/angular.min.js"></script>
		<script src="javascripts/controllers_angular/main.js"></script>
		<script src="javascripts/angular-cookies.min.js"></script>
		<script src="javascripts/ui-bootstrap-tpls.min.js"></script>
		<script src="javascripts/angular-route.min.js"></script>
		<!-- Bootstrap Core CSS -->
		<link href="stylesheets/bootstrap.css" rel="stylesheet">
		<!-- Custom CSS -->
		<link href="stylesheets/style.css" rel="stylesheet">
		<!-- Custom Fonts -->
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
		<!--.ejs5 Shim and Respond.js IE8 support of.ejs5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs.ejs5shiv/3.7.0.ejs5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body ng-controller="postController"><div class="marge-post post-preview">
		<hr>
		<h3 class="post-subtitle">
		Centres d'intérêts
		</h3>
		<hr>
		<ul class="spec-meta">
			<li><p class="post-meta">Bonnes connaissances de l’histoire de la
				chine et de ses enjeux économiques et
			sociaux</p></li>
			<li><p class="post-meta">Presse nationale et spécialisée (économie,
			stratégie, politique…)</p></li>
			<li><p class="post-meta">Passionné d’histoire</p></li>
			<li><p class="post-meta">Passionné par les nouvelles technologies</p></li>
		</ul>
	</div></body></html>